:root {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Sixtyfour Convergence', sans-serif;
}

.site-header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

.site-footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}



